@import "sass/_vars.sass"
footer 
    position: relative
    bottom: -24px
    background-color: $black
    color: white
    width: 101%

    .footer-map
        animation-name: bounceInRight
        background-image: url('img/map.png')
        overflow: scroll
        max-width: 1600px
        margin: 0 auto
        height: 332px
