@import "sass/vars"

@media (min-width: 1200px) and (max-width: 1600px)
    header
        .header-next
            margin: 16px 0 0 7px
    .play
        .play-1linetext,.play-1linetext2
            padding: 0 
    .aboutus
        .aboutusp
            left: -5% 
    

@media (min-width: 930px) and (max-width: 1199px)
    header
        .header-next
            margin: 16px 0 0 1px
    .play
        .play-1linetext,.play-1linetext2
            padding: 0 
    .aboutus
        .aboutusp
            left: -35% 
    .table
        .table-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
    .decor
        .decor-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
    .play
        .play-grid
            display: grid
            grid-template-columns: 1fr
        .play-lineleft
            display: none
    
        
         


@media (min-width: 850px) and (max-width: 929px)
    header
        .header-next
            margin: 16px 0 0 1px
    .play
        .play-1linetext,.play-1linetext2
            padding: 0 
    .aboutus
        .aboutusp
            left: -35% 
    .table
        .table-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
    .decor
        .decor-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
        .decor-div1
            max-width: 85%
            margin: 0 auto
    .play
        .play-grid
            display: grid
            grid-template-columns: 1fr
        .play-lineleft
            display: none
    
   
           
    

@media (min-width: 640px) and (max-width: 849px)
    body
        font-size: 14px

    header
        .header-grid-div2
            grid-template-columns: 1fr 
            text-align: center
        .header-menu-el
            display: none
        .header-mouse
            margin: 0
        .header-menu-grid
            grid-template-columns: 1fr 
        .header-next
            margin: 16px 0 0 1px
    .play
        .play-1linetext,.play-1linetext2
            padding: 0 
    .aboutus
        .aboutusp
            left: -35%
            top: -55vh
            margin: 0 0 -25vh 0
    .table
        .table-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
    .decor
        .decor-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
        .decor-div1
            max-width: 85%
            margin: 0 auto
    .play
        .play-grid
            display: grid
            grid-template-columns: 1fr
        .play-lineleft
            display: none
    .video
        .video-grid
            grid-template-columns: 1fr
    .aboutus
        .aboutus-grid
            grid-template-columns: 1fr
        .aboutusp
            margin: 0 0 -40vh 0
            top: -70vh

       
    
        

@media (min-width: 480px) and (max-width: 639px)
    body
        font-size: 14px
    
    header
        .header-grid-div2
            grid-template-columns: 1fr 
            text-align: center
        .header-menu-el
            display: none
        .header-centercontent
            max-width: 100%
            min-width: 100%
            text-align: center
        .header-button
            margin: 0 auto 5vh auto

        .header-name
            font-size: 4.5em
        .header-mouse
            margin: 0
        .header-menu-grid
            grid-template-columns: 1fr 
        .header-next
            margin: 16px 0 0 1px
    
    .play
        .play-1linetext,.play-1linetext2
            padding: 0 
    .aboutus
        .aboutusp
            left: -35%
            top: -55vh
            margin: 0 0 -25vh 0
    .table
        .table-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
        .t-1h2,.t-1p,.a-main,.t-1pn
            max-width: 90%
            margin: 0 auto
    .decor
        .decor-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
        .decor-div1
            max-width: 85%
            margin: 0 auto
        .d-1pn
            max-width: 90%
            margin: 0 auto
    .play
        .play-grid
            display: grid
            grid-template-columns: 1fr
        .play-lineleft
            display: none
        .play-1linetext,.play-p
            max-width: 90%
            margin: 0 auto
    .video
        .video-grid
            grid-template-columns: 1fr
    .aboutus
        .ab-h2
            font-size: 3em
            max-width: 80%
            margin: 0 auto
        .ab-p
            max-width: 80%
            margin: 0 auto
        .aboutus-grid
            grid-template-columns: 1fr
        .ab-line1,.ab-line2
            display: none
        .aboutus-div1
            position: relative
            left: 0
        .ab-1linetext,.ab-1linetext2
            grid-template-columns: 1fr
    .table
        .t-1line1
            max-width: 50px
            min-width: 50px
        .t-1linetext,.t-1linetext2,.t-a-grid
            grid-template-columns: 1fr 12fr
    .play
        .play-1linetext,.play-1linetext2
            grid-template-columns: 1fr 5fr
        .play-line1
            max-width: 50px
            min-width: 50px
        .play-p
            padding: 0
    

@media (max-width: 481px)
    body
        font-size: 14px
    header
        .header-grid-div2
            grid-template-columns: 1fr 
            text-align: center
        .header-menu-el
            display: none
        .header-centercontent
            position: relative
            top: -25vh
            max-width: 100%
            min-width: 100%
            text-align: center
        .header-button
            margin: 0 auto 5vh auto

        .header-name
            font-size: 3em
        .header-mouse
            margin: 0 auto
        .header-menu-grid
            grid-template-columns: 1fr 
        .header-next
            margin: 16px 0 0 1px
        .header-share0
            top: 10vh

    
    .play
        .play-1linetext,.play-1linetext2
            padding: 0 
        .play-h2
            font-size: 3em
    .aboutus
        .aboutusp
            left: -35%
            top: -55vh
            margin: 0 0 -25vh 0
        .ab-line1,.ab-line2
            display: none
        .aboutus-div1
            position: relative
            left: 0
    .table
        .table-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
        .t-1linetext,.t-1linetext2
            grid-template-columns: 1fr 
        .t-1line1
            display: none
        .t-1lfine2
            display: none
        .t-1pn
            text-align: left
            font-size: 3em
        .t-1h2
            font-size: 3em
    .decor
        .decor-grid
            display: grid
            grid-template-columns: 1fr 
            max-width: 1200px
            margin: 0 auto
            grid-row-gap: 40px
        .decor-div1
            max-width: 90%
            margin: 0 auto
        .d-1pn
            text-align: left
            font-size: 3em
        .d-1h2
            font-size: 3em
    .play
        .play-grid
            display: grid
            grid-template-columns: 1fr
        .play-lineleft
            display: none
        .play-1linetext,.play-1linetext2
            grid-template-columns: 1fr 
        .play-line1
            display: none
        .play-line2
            display: none
        .h-button
            max-width: 80%
            min-width: 80%
            margin: 0 auto
    .video
        .video-h2
            font-size: 3em
        .video-grid
            grid-template-columns: 1fr
        .video-p
            max-width: 90%
            margin: 0 auto
    .aboutus
        .ab-h2
            font-size: 3em
            max-width: 80%
            margin: 0 auto
        .ab-p
            max-width: 80%
            margin: 0 auto
        .aboutus-grid
            z-index: 5
            grid-template-columns: 1fr
        .ab-1linetext,.ab-1linetext2
            grid-template-columns: 4fr 2fr
        
    .table
        .t-1line1
            max-width: 50px
            min-width: 50px
        .t-1h2,.t-1p,.a-main,.t-1pn
            max-width: 90%
            margin: 0 auto
    footer
        .f-grid
            grid-template-columns: 1fr
    .A
        margin: 0 auto -85vh auto
    
    
    
        