@import url(sass/normalize.css);
body {
  font-size: 16px;
  font-family: "Open Sans", "Times New Roman" sans-serif;
  position: relative;
  line-height: 1.65;
  overflow: hidden;
  overflow-y: auto;
  opacity: 1; }

h1 {
  font-size: 3em;
  font-family: "Raleway ExtraBold", arial;
  font-size: 900;
  -webkit-animation-name: bounceIDown;
          animation-name: bounceIDown; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

p {
  font-family: "Montserrat Light", arial; }

@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat-Light.otf") format("otf"); }
@font-face {
  font-family: "Raleway ExtraBold";
  src: url("../fonts/Raleway-ExtraBold.ttf") format("ttf"); }
@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway Medium.ttf") format("ttf"); }
@font-face {
  font-family: "proximaNova regular";
  src: url("../fonts/proximaNova regular.ttf") format("ttf"); }
@font-face {
  font-family: "proximaNova bold";
  src: url("../fonts/proximaNova-bold.otf") format("otf"); }
@font-face {
  font-family: "Raleway SemiBold";
  src: url("../fonts/Raleway SemiBold.ttf") format("ttf"); }
.client {
  background: -webkit-gradient(linear, left top, right top, from(#211C19), to(#4D3326));
  background: linear-gradient(to right, #211C19, #4D3326);
  text-align: center; }

.client-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto; }

.client-img {
  margin: 4vh 0 0 0; }

.client-h2 {
  font-family: "Montserrat Light", arial;
  font-weight: 100;
  font-size: 3em;
  color: white;
  margin: 0; }

.client-p {
  color: #998675;
  margin-top: 0; }

.client-line {
  background-color: #F1EEE9;
  max-width: 40px;
  height: 3px;
  margin: 0 auto 4vh auto; }

.client-cell {
  -webkit-animation-name: Down;
          animation-name: Down; }

footer {
  background-color: #191919;
  color: #8C8C8C; }
  footer span {
    color: #03A0CC; }
    footer span a {
      text-decoration: none; }
    footer span a:active {
      color: #03A0CC; }
    footer span a:visited {
      color: #03A0CC; }

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10vh 0;
  text-align: left; }

.f-1 {
  color: white; }
  .f-1 p {
    color: #8C8C8C; }
  .f-1 .f-1-a {
    font-family: "Montserrat Light", arial;
    text-decoration: none;
    color: inherit; }

.f-h3 {
  font-family: "Raleway Bold", arial;
  color: white; }

.f-time1, .f-time2 {
  opacity: .5; }

.f-text1, .f-time2 {
  margin-top: 0; }

.f-text2, .f-time1 {
  margin-bottom: 0; }

.f-grid {
  -webkit-animation-name: Down;
          animation-name: Down;
  display: grid;
  grid-template-columns: 1fr 1fr; }

.f-article {
  -webkit-animation-name: Down;
          animation-name: Down;
  cursor: pointer;
  -webkit-transition: color opacity .5s ease;
  transition: color opacity .5s ease; }

.f-article:hover .f-time1, .f-article:hover .f-time2 {
  opacity: 1;
  color: white; }
.f-article:hover .f-text1, .f-article:hover .f-text2 {
  color: #998675; }

.footer-div {
  -webkit-animation-name: Down;
          animation-name: Down; }

.end {
  background-color: black; }

.end-grid {
  display: grid;
  grid-template-columns: 195px 115px 385px 185px 1fr;
  max-width: 1200px;
  margin: 0 auto; }

.end-p {
  -webkit-animation-name: Down;
          animation-name: Down;
  color: #8C8C8C; }

.end-span {
  color: white;
  opacity: .7; }

.end-span-next {
  cursor: pointer;
  -webkit-transition: color .5s ease;
  transition: color .5s ease; }
  .end-span-next:hover {
    color: #998675; }

header {
  background-image: url("img/sl-back.png");
  background-color: #211C19;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  -webkit-transition: opacity 3s ease;
  transition: opacity 3s ease; }

.header-grid {
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
  padding-top: 3vh;
  display: grid;
  grid-template-columns: 3fr 5fr 1fr;
  max-width: 1200px;
  margin: 0 auto; }

.header-ul {
  cursor: pointer;
  font-family: "Montserrat Light", arial;
  list-style-type: none;
  color: white; }
  .header-ul li {
    display: inline;
    padding-right: 15px;
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease; }
  .header-ul li:hover {
    color: #998675; }

.header-bag, .header-search {
  cursor: pointer;
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease;
  padding-top: 10px; }
  .header-bag .cls-1, .header-search .cls-1 {
    fill: white;
    opacity: 1; }

.header-bag:hover .cls-1 {
  fill: #998675; }

.header-search:hover .cls-1 {
  fill: #998675; }

.header-search {
  padding-left: 30px; }

.menulink {
  text-decoration: none;
  color: inherit; }
  .menulink a:active {
    color: inherit; }
  .menulink a:visited {
    color: inherit; }

.mdevice {
  background-image: url("img/mb-back.png");
  background-repeat: no-repeat;
  background-size: cover; }

.mdevice-media {
  padding-left: 1000px; }

.mdevice-h2 {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  font-family: "Raleway SemiBold", arial;
  color: #555555;
  padding-top: 17vh; }

.mdevice-p {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  color: #8C8C8C;
  max-width: 600px; }

.mdevice-li {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight; }

.mdevice-ul {
  max-width: 600px;
  font-family: "Montserrat Light", arial;
  margin-top: 4vh;
  list-style-type: none; }
  .mdevice-ul li {
    color: #8C8C8C; }
    .mdevice-ul li img, .mdevice-ul li p {
      display: inline-block; }
    .mdevice-ul li img {
      position: relative;
      top: 3px; }
    .mdevice-ul li p {
      margin-left: 50px;
      margin-top: 0; }

.partners {
  background-image: url(img/partners-back.png);
  margin: 0 0 -2vh 0;
  -o-object-fit: none;
     object-fit: none;
  background-size: cover; }

.p-grid {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0 50px 0; }

.project {
  text-align: center;
  padding: 5px 30px; }

.category {
  -webkit-animation-name: Down;
          animation-name: Down;
  cursor: pointer;
  background-color: white;
  background-size: cover;
  max-width: 175px;
  margin: 0px 15px;
  display: inline-block;
  border: 1px rgba(157, 157, 157, 0.1) solid;
  outline: none;
  border-radius: 5%;
  color: #8C8C8C;
  -webkit-transition: background-color color 0.5s ease;
  transition: background-color color 0.5s ease; }

.category:hover {
  background-color: #8d7968;
  color: white; }

.categoryACTIVE {
  background-color: #8d7968;
  color: white; }

.project-p {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  position: relative;
  top: 0px;
  color: #8C8C8C;
  max-width: 750px;
  margin: 0 auto 32.56px auto; }

.project-h2 {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  font-family: "Raleway SemiBold", arial;
  color: #555555;
  margin-top: 80px; }

.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 375px);
  grid-gap: 20px;
  max-width: 1200px;
  margin: 5vh auto 2vh auto; }

.project-gridel {
  -webkit-animation-name: Up;
          animation-name: Up;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.project-gridel:hover .project-sharpbite, .project-gridel:hover .project-text, .project-gridel:hover .project-img-in {
  background-color: #372F2D; }
.project-gridel:hover .project-grid-p {
  color: #998675; }
.project-gridel:hover .project-h3 {
  color: white; }

.project-gridelACTIVE .project-sharpbite, .project-gridelACTIVE .project-text, .project-gridelACTIVE .project-img-in {
  background-color: #372F2D; }
.project-gridelACTIVE .project-grid-p {
  color: #998675; }
.project-gridelACTIVE .project-h3 {
  color: white; }

.project-img {
  background-size: cover;
  height: 250px;
  -o-object-fit: none;
     object-fit: none; }

.project-img-in {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-size: cover;
  height: 250px;
  z-index: 3;
  opacity: 0.7; }

.project-img1 {
  background-image: url(img/pr-img1.png); }

.project-img2 {
  background-image: url(img/pr-img2.png); }

.project-img3 {
  background-image: url(img/pr-img3.png); }

.project-img4 {
  background-image: url(img/pr-img4.png); }

.project-img5 {
  background-image: url(img/pr-img5.png); }

.project-img6 {
  background-image: url(img/pr-img6.png); }

.project-text {
  text-align: left;
  position: relative;
  top: -25px;
  background-color: #FBFAF8;
  color: #998675; }

.project-grid-p {
  position: relative;
  padding-bottom: -25px;
  top: -25px;
  color: #8C8C8C; }

.project-h3 {
  font-family: "Raleway Medium", arial;
  padding-top: 15px; }

.project-h3, .project-grid-p {
  padding-left: 25px; }

.project-button {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  font-family: "Raleway ExtraBold", arial;
  margin-bottom: 7vh; }

.project-sharpbite {
  background-size: cover;
  width: 20px;
  height: 20px;
  background-color: #FBFAF8;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  left: 30px;
  top: -155px;
  margin: 0 0 -20px 0; }

.purchase {
  position: relative;
  top: -8px;
  margin-bottom: -8px;
  color: white;
  background-size: cover;
  background: -webkit-gradient(linear, left top, right top, from(#211C19), to(#4D3326));
  background: linear-gradient(to right, #211C19, #4D3326); }

.purchase-grid {
  display: grid;
  grid-template-columns: 11fr 2fr;
  max-width: 1200px;
  margin: 0 auto; }

.purchase-h2 {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  font-family: "Raleway Regular", arial; }
  .purchase-h2 span {
    color: #998675; }

.purchase-h3 {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  font-family: "Montserrat Light", arial;
  color: #8C8C8C;
  position: relative;
  top: -3vh;
  margin-bottom: -3vh; }

.purchase-button {
  cursor: pointer;
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  font-family: "Raleway ExtraBold", arial;
  margin: 50px 0 50px 0; }

.rposts {
  text-align: center;
  color: #8C8C8C; }

.rposts-h2 {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  font-family: "Raleway SemiBold", arial;
  color: #555555;
  margin-top: 7vh;
  margin-bottom: 1vh; }

.rposts-p-up {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  max-width: 750px;
  margin: 0 auto 4vh auto; }

.rposts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  grid-column-gap: 20px;
  margin-bottom: 2vh; }
  .rposts-grid .rposts-gr {
    -webkit-animation-name: Down;
            animation-name: Down;
    cursor: pointer;
    text-align: left;
    color: #998675;
    -webkit-transition: background-color color display opacity .5 ease;
    transition: background-color color display opacity .5 ease;
    border: .3px rgba(157, 157, 157, 0.1) solid; }
    .rposts-grid .rposts-gr a {
      font-family: "Montserrat Light", arial;
      text-decoration: none;
      color: inherit; }
  .rposts-grid .rposts-gr:hover {
    background-color: #372F2D; }
    .rposts-grid .rposts-gr:hover .rposts-img-in {
      background-color: #372F2D; }
    .rposts-grid .rposts-gr:hover .rposts-p {
      color: white; }
    .rposts-grid .rposts-gr:hover .rposts-h3 {
      color: #998675; }
    .rposts-grid .rposts-gr:hover .date {
      display: none; }
    .rposts-grid .rposts-gr:hover .dateActive {
      opacity: 1; }
    .rposts-grid .rposts-gr:hover .rposts-hover-share, .rposts-grid .rposts-gr:hover .rposts-hover-lupa {
      opacity: 1; }

.rposts-grACTIVE {
  background-color: #372F2D; }
  .rposts-grACTIVE .rposts-img-in {
    background-color: #372F2D; }
  .rposts-grACTIVE .rposts-p {
    color: white; }
  .rposts-grACTIVE .rposts-h3 {
    color: #998675; }
  .rposts-grACTIVE .date {
    display: none; }
  .rposts-grACTIVE .dateActive {
    opacity: 1; }
  .rposts-grACTIVE .rposts-hover-share, .rposts-grACTIVE .rposts-hover-lupa {
    opacity: 1; }

.date {
  background-size: cover;
  height: 60px;
  max-width: 50px;
  margin: -200px 0 140px 20px; }

.dateActive {
  opacity: 0;
  background-size: cover;
  height: 60px;
  max-width: 50px;
  margin: -200px 0 140px 20px; }

.rposts-img {
  background-size: cover;
  height: 220px;
  -o-object-fit: none;
     object-fit: none; }

.rposts-img1 {
  background-image: url("img/rposts-img1.png");
  -webkit-animation-duration: 2s;
          animation-duration: 2s; }

.rposts-img2 {
  background-image: url("img/rposts-img2.png"); }

.rposts-img3 {
  background-image: url("img/rposts-img3.png"); }

.rposts-h3, .rposts-p {
  padding-left: 20px; }

.rposts-h3 {
  font-family: "Raleway Medium", arial;
  margin: 0;
  padding-top: 20px; }

.rposts-p {
  color: #8C8C8C;
  margin: 10px 0 10px 0; }

.rposts-a1 {
  padding-bottom: 20px;
  padding-left: 20px; }

.rposts-left, .rposts-right {
  background-size: cover;
  height: 22px;
  width: 22px;
  display: inline-block;
  margin: 0 auto;
  -webkit-transition: -webkit-transform fill rotate .5s ease;
  transition: -webkit-transform fill rotate .5s ease;
  transition: transform fill rotate .5s ease;
  transition: transform fill rotate .5s ease, -webkit-transform fill rotate .5s ease; }

.rposts-left {
  cursor: pointer;
  margin-bottom: 2vh; }

.rposts-right {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-bottom: 2vh; }

.rposts-left:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1); }
  .rposts-left:hover .cls-1 {
    fill: #998675; }

.rposts-right:hover {
  -webkit-transform: scale(1.1) rotate(180deg);
          transform: scale(1.1) rotate(180deg); }
  .rposts-right:hover .cls-1 {
    fill: #998675; }

.rposts-circle {
  cursor: pointer;
  background-size: cover;
  height: 10px;
  max-width: 10px;
  min-width: 10px;
  background-color: #999898;
  border-radius: 50%;
  opacity: .7;
  border: 2px rgba(90, 60, 60, 0) solid;
  -webkit-transition: background-color border .5s ease;
  transition: background-color border .5s ease; }

.rposts-circle:hover {
  background-color: rgba(90, 60, 60, 0);
  border: 2px #998675 solid; }

.rposts-circle-active {
  background-color: rgba(90, 60, 60, 0);
  border: 2px #998675 solid; }

.rp-grid-circle {
  position: relative;
  top: -23vh;
  display: grid;
  max-width: 100px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  grid-column-gap: 10px; }

.rposts-img-in {
  background-size: cover;
  height: 240px;
  z-index: 3;
  opacity: .6; }

.rposts-hover-grid {
  display: grid;
  max-width: 70px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto -25px auto;
  position: relative;
  grid-column-gap: 20px;
  top: -15vh; }

.rposts-hover-share, .rposts-hover-lupa {
  cursor: pointer;
  opacity: 0;
  -webkit-transition: fill .5s ease;
  transition: fill .5s ease; }

.rposts-hover-lupa:hover .cls-1 {
  fill: #998675; }

.rposts-hover-share:hover .cls-1 {
  fill: #998675; }

@-webkit-keyframes switching {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px); } }

@keyframes switching {
  from {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px); } }
@-webkit-keyframes switching1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
@keyframes switching1 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }
.services .serv-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  color: #8E8E8E; }

.serv-div {
  -webkit-animation-name: Down;
          animation-name: Down;
  cursor: pointer;
  -webkit-transition: color background-color fill .5 ease;
  transition: color background-color fill .5 ease; }

.serv-div:hover .serv-h3 {
  color: #998675; }
.serv-div:hover .serv-line {
  background-color: #998675; }
.serv-div:hover .s-i .cls-1 {
  fill: #998675; }

.s-i {
  background-repeat: no-repeat;
  display: block;
  max-width: 50px;
  height: 50px;
  margin: 7vh auto 0 auto; }

.serv-h3 {
  -webkit-transition: color background-color .5 ease;
  transition: color background-color .5 ease;
  font-family: "Raleway SemiBold", arial;
  margin-top: 10px;
  color: #555555; }

.serv-line {
  -webkit-transition: color background-color .5 ease;
  transition: color background-color .5 ease;
  background-color: #F1EEE9;
  max-width: 100px;
  height: 5px;
  margin: 0 auto; }

.slider {
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white; }

.slider-h2 {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  position: relative;
  padding-top: 20vh;
  top: 4vh;
  font-family: "Raleway Medium", arial;
  font-weight: 100; }

.slider-p {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  position: relative;
  top: -4vh;
  max-width: 550px;
  margin: 0 auto; }

.slider-circle {
  background-size: cover;
  height: 14px;
  max-width: 14px;
  min-width: 14px;
  background-color: #999898;
  border: 2px rgba(90, 60, 60, 0) solid;
  border-radius: 50%;
  -webkit-transition: background-color border 0.5s ease;
  transition: background-color border 0.5s ease; }

.slider-circle:hover {
  background-color: rgba(90, 60, 60, 0);
  border: 2px #998675 solid; }

.header-grid-circle {
  cursor: pointer;
  -webkit-animation-name: Down;
          animation-name: Down;
  position: relative;
  top: 5vh;
  display: grid;
  max-width: 125px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  grid-column-gap: 10px;
  padding-bottom: 100px; }

.header-circle-active {
  background-color: rgba(90, 60, 60, 0);
  border: 2px #998675 solid; }

.slider-button {
  cursor: pointer;
  -webkit-animation-name: Up;
          animation-name: Up; }

.button {
  outline: none;
  font-family: "Raleway ExtraBold", arial;
  font-weight: 700;
  color: white;
  background-color: #998675;
  z-index: 20;
  padding: 15px 22px;
  outline: none;
  border: 0px #998675 solid;
  border-bottom: 3px #372F2D solid;
  font-size: 0.9em;
  -webkit-transition: background-color color 0.5s ease;
  transition: background-color color 0.5s ease; }

.button:hover {
  background-color: #7e6d5d;
  color: #f2f2f2; }

.button:active {
  background-color: #433a32;
  color: #bfbfbf; }

.slider-arrows {
  -webkit-animation-name: Up;
          animation-name: Up;
  position: relative;
  top: -25vh;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-column-gap: 1500px;
  max-width: 1600px;
  min-width: 1600px;
  margin: 0 auto;
  z-index: 0; }

.slider-right {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }

.slider-left:hover .cls-1 {
  fill: #998675; }

.slider-right:hover .cls-1 {
  fill: #998675; }

.slider-left, .slider-right {
  cursor: pointer;
  z-index: 2;
  -webkit-transition: fill 0.5s ease;
  transition: fill 0.5s ease; }

.video {
  position: relative;
  top: 16px;
  background-image: url(img/vp-back.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: white; }

.video-button {
  -webkit-animation-name: bounceIDown;
          animation-name: bounceIDown;
  cursor: pointer;
  -webkit-transition: -webkit-transform padding .5 ease;
  transition: -webkit-transform padding .5 ease;
  transition: transform padding .5 ease;
  transition: transform padding .5 ease, -webkit-transform padding .5 ease;
  padding: 25vh 0 0 0; }

.video-button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  padding: 24vh 0 1vh 0; }

.video-p {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  position: relative;
  top: -20px;
  max-width: 550px;
  margin: 0 auto -20px auto; }

.video-h2 {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  font-family: "Raleway Medium", arial; }

.video-time {
  -webkit-animation-name: bounceIDown;
          animation-name: bounceIDown;
  padding-bottom: 12vh;
  color: #998675;
  margin-bottom: 0px;
  font-size: .9em;
  font-family: "Montserrat Light", arial; }

.ideas {
  background-size: cover;
  background-color: #FBFAF8;
  text-align: center;
  background-position: center; }

.yourideas-h2 {
  -webkit-animation-name: bounceInLeft;
          animation-name: bounceInLeft;
  font-family: "Raleway SemiBold", arial;
  padding-top: 7vh;
  color: #555555; }

.ideas-p {
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  color: #8C8C8C; }

.header-cart {
  position: fixed;
  top: 0;
  left: 110%;
  min-width: 250px;
  max-width: 250px;
  background-color: white;
  -webkit-box-shadow: 0 0 64px 0 black;
          box-shadow: 0 0 64px 0 black;
  z-index: 100;
  height: 100vh;
  text-align: center;
  overflow: auto;
  font-family: "Montserrat Light", arial;
  display: none;
  -webkit-animation-name: Cart;
          animation-name: Cart;
  visibility: hidden;
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }
  .header-cart .cart-cross {
    font-family: arial;
    position: absolute;
    font-size: 50px;
    font-weight: 100;
    top: -20px;
    left: 87%;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .header-cart .cart-cross:hover {
      color: #998675; }
  .header-cart .car-bag {
    max-width: 36px;
    min-width: 36px;
    height: 48px;
    display: inline-block;
    position: relative;
    top: 10px;
    margin-right: 10px;
    margin-left: 0px; }
  .header-cart .cart-title {
    padding-top: 20px;
    border-bottom: 2px solid #8C8C8C; }
  .header-cart .purchase-button {
    margin-top: 80vh; }

.cart-label {
  display: inline-block; }

.animatable {
  visibility: hidden;
  -webkit-animation-play-state: paused;
  animation-play-state: paused; }

.animated {
  visibility: visible;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-play-state: running;
          animation-play-state: running; }

@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px); }
  60% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
            transform: translateX(-2000px); }
  60% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px); }
  80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-webkit-keyframes Down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); }
  60% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes Down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
            transform: translateY(2000px); }
  60% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  80% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes bounceInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes bounceInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px); }
  60% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
            transform: translateX(2000px); }
  60% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  80% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0); } }
@-webkit-keyframes Up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  60% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@keyframes Up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  60% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }
@-webkit-keyframes bounceIDown {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes bounceIDown {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-webkit-keyframes bounceLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  20% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px); } }
@keyframes bounceLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  20% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px); }
  40% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px); } }
@-webkit-keyframes ReLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  40% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px); } }
@keyframes ReLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px); }
  20% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px); }
  40% {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px); }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px); } }
@-webkit-keyframes Rightmoveimg {
  0% {
    max-width: 100%;
    min-width: 100%;
    left: 0; }
  100% {
    max-width: 0;
    min-width: 0;
    left: 100%; } }
@keyframes Rightmoveimg {
  0% {
    max-width: 100%;
    min-width: 100%;
    left: 0; }
  100% {
    max-width: 0;
    min-width: 0;
    left: 100%; } }
@-webkit-keyframes Leftmoveimg {
  0% {
    max-width: 100%;
    min-width: 100%; }
  100% {
    max-width: 0;
    min-width: 0; } }
@keyframes Leftmoveimg {
  0% {
    max-width: 100%;
    min-width: 100%; }
  100% {
    max-width: 0;
    min-width: 0; } }
@-webkit-keyframes position {
  0% {
    background-position-x: 0;
    background-size: 100% 80%;
    background-position-y: center; }
  15% {
    background-size: 100% 80%;
    background-position-y: center; }
  100% {
    background-position-x: 5000px; } }
@keyframes position {
  0% {
    background-position-x: 0;
    background-size: 100% 80%;
    background-position-y: center; }
  15% {
    background-size: 100% 80%;
    background-position-y: center; }
  100% {
    background-position-x: 5000px; } }
@-webkit-keyframes Reposition {
  0% {
    background-position-x: 0;
    background-size: 100% 80%;
    background-position-y: center; }
  15% {
    background-size: 100% 80%;
    background-position-y: center; }
  100% {
    background-position-x: -5000px; } }
@keyframes Reposition {
  0% {
    background-position-x: 0;
    background-size: 100% 80%;
    background-position-y: center; }
  15% {
    background-size: 100% 80%;
    background-position-y: center; }
  100% {
    background-position-x: -5000px; } }
@-webkit-keyframes positionN {
  0% {
    background-position-x: -5000px;
    background-size: 100% 80%;
    background-position-y: center; }
  15% {
    background-size: 100% 80%;
    background-position-y: center; }
  100% {
    background-position-x: 0; } }
@keyframes positionN {
  0% {
    background-position-x: -5000px;
    background-size: 100% 80%;
    background-position-y: center; }
  15% {
    background-size: 100% 80%;
    background-position-y: center; }
  100% {
    background-position-x: 0; } }
@-webkit-keyframes RepositionN {
  0% {
    background-position-x: 5000px;
    background-size: 100% 80%;
    background-position-y: center; }
  15% {
    background-size: 100% 80%;
    background-position-y: center; }
  100% {
    background-position-x: 0; } }
@keyframes RepositionN {
  0% {
    background-position-x: 5000px;
    background-size: 100% 80%;
    background-position-y: center; }
  15% {
    background-size: 100% 80%;
    background-position-y: center; }
  100% {
    background-position-x: 0; } }
@-webkit-keyframes Cart {
  0% {
    left: 110%; }
  100% {
    left: calc(100% - 250px); } }
@keyframes Cart {
  0% {
    left: 110%; }
  100% {
    left: calc(100% - 250px); } }
@-webkit-keyframes cartR {
  0% {
    left: calc(100% - 250px); }
  100% {
    left: 110%; } }
@keyframes cartR {
  0% {
    left: calc(100% - 250px); }
  100% {
    left: 110%; } }
@media (min-width: 1200px) and (max-width: 1600px) {
  .mdevice .mdevice-media {
    padding-left: 5px; }
  .mdevice .mdevice-p {
    max-width: 400px; }
  .mdevice .mdevice-ul {
    max-width: 500px;
    padding-left: 5px; }
    .mdevice .mdevice-ul li p {
      margin-left: 10px; }

  .header-grid {
    grid-template-columns: 2fr 5fr 1fr; }

  .slider-arrows {
    position: relative;
    top: -40vh;
    grid-column-gap: 1100px;
    max-width: 1200px;
    min-width: 1200px; }

  .rposts .rp-grid-circle {
    position: relative;
    top: -28vh; } }
@media (min-width: 930px) and (max-width: 1199px) {
  .end .end-grid {
    max-width: 930px;
    grid-template-columns: 195px 115px 185px 185px 1fr; }

  footer .footer-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 930px; }

  .partners .p-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  .rposts .rposts-grid {
    max-width: 930px;
    grid-template-columns: 1fr 1fr; }
  .rposts .rp-grid-circle {
    position: relative;
    top: -28vh; }

  .mdevice .mdevice-media {
    padding-left: 5px; }
  .mdevice .mdevice-p {
    max-width: 400px; }
  .mdevice .mdevice-ul {
    max-width: 500px;
    padding-left: 5px; }
    .mdevice .mdevice-ul li p {
      margin-left: 10px; }

  .project .project-grid {
    grid-template-columns: 1fr 1fr; }

  .purchase .purchase-grid {
    grid-template-columns: 10fr 4fr;
    max-width: 930px; }

  .services .serv-grid {
    grid-template-columns: 1fr 1fr; }
  .services .serv-div {
    max-width: 50%;
    margin: 0 auto; }

  .header-grid {
    max-width: 930px;
    grid-template-columns: 1fr 5fr 1fr; }

  .slider-arrows {
    position: relative;
    top: -40vh;
    grid-column-gap: 830px;
    max-width: 930px;
    min-width: 930px; } }
@media (min-width: 830px) and (max-width: 929px) {
  .end .end-grid {
    max-width: 830px;
    grid-template-columns: 195px 115px 120px 185px 180px; }

  footer .footer-grid {
    grid-template-columns: 1fr 1fr;
    max-width: 830px; }

  .partners .p-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  .rposts .rposts-grid {
    grid-template-columns: 1fr 1fr; }
  .rposts .rp-grid-circle {
    position: relative;
    top: -28vh; }

  .client .client-grid {
    grid-template-columns: 1fr 1fr 1fr; }

  .mdevice .mdevice-media {
    padding-left: 5px; }
  .mdevice .mdevice-p {
    max-width: 400px; }
  .mdevice .mdevice-ul {
    max-width: 500px;
    padding-left: 5px; }
    .mdevice .mdevice-ul li p {
      margin-left: 10px; }

  .project .project-grid {
    grid-template-columns: 1fr 1fr; }

  .purchase .purchase-grid {
    grid-template-columns: 10fr 3fr;
    max-width: 830px; }

  .services .serv-grid {
    grid-template-columns: 1fr 1fr; }
  .services .serv-div {
    max-width: 50%;
    margin: 0 auto; }

  .header-grid {
    max-width: 830px;
    grid-template-columns: 1fr 8fr; }

  .slider-arrows {
    position: relative;
    top: -40vh;
    grid-column-gap: 730px;
    max-width: 830px;
    min-width: 830px; } }
@media (min-width: 640px) and (max-width: 829px) {
  .end .end-grid {
    max-width: 640px;
    grid-template-columns: 1fr 1fr; }

  footer .footer-grid {
    grid-template-columns: 1fr;
    max-width: 640px; }

  .partners .p-grid {
    display: grid;
    grid-template-columns: 1fr; }

  .rposts .rposts-grid {
    max-width: 640px;
    grid-template-columns: 1fr; }
  .rposts .rp-grid-circle {
    position: relative;
    top: -28vh; }

  .client .client-grid {
    grid-template-columns: 1fr 1fr 1fr; }

  .mdevice .mdevice-media {
    padding-left: 5px; }
  .mdevice .mdevice-p {
    max-width: 400px; }
  .mdevice .mdevice-ul {
    max-width: 500px;
    padding-left: 5px; }
    .mdevice .mdevice-ul li p {
      margin-left: 10px; }

  .project .project-grid {
    grid-template-columns: 1fr; }

  .purchase .purchase-grid {
    grid-template-columns: 10fr 5fr;
    max-width: 640px; }

  .services .serv-grid {
    grid-template-columns: 1fr; }
  .services .serv-div {
    min-width: 40%;
    max-width: 40%;
    margin: 0 auto; }

  .header-grid {
    max-width: 640px;
    grid-template-columns: 1fr; }

  .slider-arrows {
    position: relative;
    top: -40vh;
    grid-column-gap: 540px;
    max-width: 640px;
    min-width: 640px; } }
@media (min-width: 480px) and (max-width: 639px) {
  .end .end-grid {
    max-width: 640px;
    grid-template-columns: 1fr 1fr; }

  footer .footer-grid {
    grid-template-columns: 1fr; }

  .partners .p-grid {
    display: grid;
    grid-template-columns: 1fr; }

  .rposts .rposts-grid {
    grid-template-columns: 1fr; }
  .rposts .rp-grid-circle {
    position: relative;
    top: -28vh; }

  .client .client-grid {
    grid-template-columns: 1fr; }

  .mdevice .mdevice-media {
    padding-left: 5px; }
  .mdevice .mdevice-p {
    max-width: 400px; }
  .mdevice .mdevice-ul {
    max-width: 500px;
    padding-left: 5px; }
    .mdevice .mdevice-ul li p {
      margin-left: 10px; }

  .project .project-grid {
    grid-template-columns: 1fr; }

  .purchase .purchase-grid {
    grid-template-columns: 1fr;
    max-width: 480px; }

  .services .serv-grid {
    grid-template-columns: 1fr; }

  .header-grid {
    max-width: 480px;
    grid-template-columns: 1fr; }

  .slider-arrows {
    position: relative;
    top: -5vh;
    grid-column-gap: 380px;
    max-width: 480px;
    min-width: 480px; } }
@media (max-width: 481px) {
  .end .end-grid {
    max-width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr; }

  footer .footer-grid {
    grid-template-columns: 1fr; }
  footer .footer-grid {
    max-width: 90%;
    margin: 0 auto; }

  .partners .p-grid {
    display: grid;
    grid-template-columns: 1fr; }

  .rposts .rp-grid-circle {
    position: relative;
    top: -35vh; }
  .rposts .rposts-grid {
    grid-template-columns: 1fr; }
  .rposts .rposts-p-up {
    max-width: 90%;
    margin: 0 auto; }

  .client .client-grid {
    grid-template-columns: 1fr; }

  .mdevice .mdevice-h2 {
    max-width: 90%;
    margin: 0 auto; }
  .mdevice .mdevice-media {
    padding-left: 5px; }
  .mdevice .mdevice-p {
    max-width: 90%;
    margin: 0 auto; }
  .mdevice .mdevice-ul {
    max-width: 500px;
    padding-left: 5px; }
    .mdevice .mdevice-ul li p {
      margin-left: 10px; }

  .project .project-grid {
    grid-template-columns: 1fr; }
  .project .project-p {
    max-width: 90%;
    margin: 0 auto; }

  .purchase .purchase-grid {
    grid-template-columns: 1fr;
    max-width: 320px; }

  .services .serv-grid {
    grid-template-columns: 1fr; }
  .services .serv-div {
    max-width: 90%;
    margin: 0 auto; }

  .header-grid {
    grid-template-columns: 1fr; }

  .slider-arrows {
    position: relative;
    top: -5vh;
    grid-column-gap: 200px;
    max-width: 300px;
    min-width: 300px;
    padding-bottom: 0; }

  header .slider-h2 {
    padding: 0;
    margin-top: 0; }
  header .header-grid-circle {
    position: relative;
    top: 5vh; }
  header .slider-p {
    max-width: 90%;
    margin: 0 auto; }
  header .header-bag {
    padding-left: 30px; }
  header object {
    padding-left: 30px; }

  .video .video-p {
    max-width: 90%;
    margin: 0 auto; }

  .ideas .yourideas-h2 {
    max-width: 90%;
    margin: 0 auto; }
  .ideas .ideas-p {
    max-width: 90%;
    margin: 0 auto; } }

/*# sourceMappingURL=main.css.map */