@import "sass/vars"
header 
    background-color: transparent
    max-width: 100%
    transition: opacity 3s ease
    overflow: hidden
    position: relative
    
.header-back-imgs
    position: absolute
    left: 0
    top: 0
    z-index: -10
    height: 100%
    display: flex
    flex-wrap: nowrap
    transition: transform 1s ease
.header-back-img
    max-width: calc( 100% + 0px)
    min-width: calc( 100% + 0px)
    width: 100%
    height: 100%
    position: relative
    z-index: -10
    object-fit: none
.header-grid
    animation-name: bounceInDown
    padding-top: 3vh
    display: grid
    grid-template-columns: 3fr 5fr 1fr
    max-width: 1200px
    margin: 0 auto 
.header-ul
    cursor: pointer
    font-family: 'Montserrat Light', arial
    list-style-type: none
    color: white
    li 
        display: inline
        padding-right: 15px
        transition: color .5s ease
    li:hover
        color: $lorange


    
.header-bag,.header-search
    cursor: pointer
    transition: fill .5s ease
    padding-top: 10px
    .cls-1
        fill: white
        opacity: 1
.header-bag:hover
    .cls-1
        fill: $lorange
.header-search:hover
    .cls-1
        fill: $lorange
.header-search
    padding-left: 30px
.menulink
    text-decoration: none
    color: inherit
    a:active
        color: inherit
    a:visited
        color: inherit
