@import "sass/vars"
@media (min-width: 1200px) and (max-width: 1600px)
    .mdevice
        .mdevice-media
            padding-left: 5px
        .mdevice-p
            max-width: 400px
        .mdevice-ul
            max-width: 500px
            padding-left: 5px
            li
                p
                    margin-left: 10px

    .header-grid
        grid-template-columns: 2fr 5fr 1fr
    
    .slider-arrows
        position: relative
        top: -40vh
        grid-column-gap: 1100px
        max-width: 1200px
        min-width: 1200px
    .rposts
        .rp-grid-circle
            position: relative
            top: -28vh
    

@media (min-width: 930px) and (max-width: 1199px)
    .end
        .end-grid
            max-width: 930px
            grid-template-columns: 195px 115px 185px 185px 1fr
    footer
        .footer-grid
            grid-template-columns: 1fr 1fr
            max-width: 930px
    .partners
        .p-grid
            display: grid
            grid-template-columns: 1fr 1fr
    .rposts
        .rposts-grid
            max-width: 930px
            grid-template-columns: 1fr 1fr 
        .rp-grid-circle
            position: relative
            top: -28vh
    .mdevice
        .mdevice-media
            padding-left: 5px
        .mdevice-p
            max-width: 400px
        .mdevice-ul
            max-width: 500px
            padding-left: 5px
            li
                p
                    margin-left: 10px
    .project
        .project-grid
            grid-template-columns: 1fr 1fr
    .purchase
        .purchase-grid
            grid-template-columns: 10fr 4fr
            max-width: 930px
    .services
        .serv-grid
            grid-template-columns: 1fr 1fr
        .serv-div
            max-width: 50%
            margin: 0 auto

    .header-grid
        max-width: 930px
        grid-template-columns: 1fr 5fr 1fr
    .slider-arrows
        position: relative
        top: -40vh
        grid-column-gap: 830px
        max-width: 930px
        min-width: 930px


@media (min-width: 830px) and (max-width: 929px)
    .end
        .end-grid
            max-width: 830px
            grid-template-columns: 195px 115px 120px 185px 180px
    footer
        .footer-grid
            grid-template-columns: 1fr 1fr
            max-width: 830px
    .partners
        .p-grid
            display: grid
            grid-template-columns: 1fr 1fr
    .rposts
        .rposts-grid
            grid-template-columns: 1fr 1fr
        .rp-grid-circle
            position: relative
            top: -28vh
    .client
        .client-grid
            grid-template-columns: 1fr 1fr 1fr 
    .mdevice
        .mdevice-media
            padding-left: 5px
        .mdevice-p
            max-width: 400px
        .mdevice-ul
            max-width: 500px
            padding-left: 5px
            li
                p
                    margin-left: 10px
    .project
        .project-grid
            grid-template-columns: 1fr 1fr
    .purchase
        .purchase-grid
            grid-template-columns: 10fr 3fr
            max-width: 830px
    .services
        .serv-grid
            grid-template-columns: 1fr 1fr
        .serv-div
            max-width: 50%
            margin: 0 auto
    .header-grid
        max-width: 830px
        grid-template-columns: 1fr 8fr
    .slider-arrows
        position: relative
        top: -40vh
        grid-column-gap: 730px
        max-width: 830px
        min-width: 830px
    

@media (min-width: 640px) and (max-width: 829px)
    .end
        .end-grid
            max-width: 640px
            grid-template-columns: 1fr 1fr
    footer
        .footer-grid
            grid-template-columns: 1fr 
            max-width: 640px
    .partners
        .p-grid
            display: grid
            grid-template-columns: 1fr
    .rposts
        .rposts-grid
            max-width: 640px
            grid-template-columns: 1fr
        .rp-grid-circle
            position: relative
            top: -28vh
    .client
        .client-grid
            grid-template-columns: 1fr 1fr 1fr 
    .mdevice
        .mdevice-media
            padding-left: 5px
        .mdevice-p
            max-width: 400px
        .mdevice-ul
            max-width: 500px
            padding-left: 5px
            li
                p
                    margin-left: 10px
    .project
        .project-grid
            grid-template-columns: 1fr 
    .purchase
        .purchase-grid
            grid-template-columns: 10fr 5fr
            max-width: 640px
    .services
        .serv-grid
            grid-template-columns: 1fr 
        .serv-div
            min-width: 40%
            max-width: 40%
            margin: 0 auto
    .header-grid
        max-width: 640px
        grid-template-columns: 1fr
    .slider-arrows
        position: relative
        top: -40vh
        grid-column-gap: 540px
        max-width: 640px
        min-width: 640px

@media (min-width: 480px) and (max-width: 639px)
    .end
        .end-grid
            max-width: 640px
            grid-template-columns: 1fr 1fr
    footer
        .footer-grid
            grid-template-columns: 1fr
    .partners
        .p-grid
            display: grid
            grid-template-columns: 1fr 
    .rposts
        .rposts-grid
            grid-template-columns: 1fr
        .rp-grid-circle
            position: relative
            top: -28vh
    .client
        .client-grid
            grid-template-columns: 1fr 
    .mdevice
        .mdevice-media
            padding-left: 5px
        .mdevice-p
            max-width: 400px
        .mdevice-ul
            max-width: 500px
            padding-left: 5px
            li
                p
                    margin-left: 10px
    .project
        .project-grid
            grid-template-columns: 1fr 
    .purchase
        .purchase-grid
            grid-template-columns: 1fr 
            max-width: 480px
    .services
        .serv-grid
            grid-template-columns: 1fr 
    .header-grid
        max-width: 480px
        grid-template-columns: 1fr
    .slider-arrows
        position: relative
        top: -5vh
        grid-column-gap: 380px
        max-width: 480px
        min-width: 480px

@media (max-width: 481px)
    .end
        .end-grid
            max-width: 90%
            margin: 0 auto
            grid-template-columns: 1fr 1fr
    footer
        .footer-grid
            grid-template-columns: 1fr
        .footer-grid
            max-width: 90%
            margin: 0 auto
    .partners
        .p-grid
            display: grid
            grid-template-columns: 1fr 
    .rposts
        .rp-grid-circle
            position: relative
            top: -35vh
        .rposts-grid
            grid-template-columns: 1fr
        .rposts-p-up
            max-width: 90%
            margin: 0 auto
    .client
        .client-grid
            grid-template-columns: 1fr 
    .mdevice
        .mdevice-h2
            max-width: 90%
            margin: 0 auto
        .mdevice-media
            padding-left: 5px
        .mdevice-p
            max-width: 90%
            margin: 0 auto
        .mdevice-ul
            max-width: 500px
            padding-left: 5px
            li
                p
                    margin-left: 10px
    .project
        .project-grid
            grid-template-columns: 1fr
        .project-p
            max-width: 90%
            margin: 0 auto
    .purchase
        .purchase-grid
            grid-template-columns: 1fr 
            max-width: 320px
    .services
        .serv-grid
            grid-template-columns: 1fr 
        .serv-div
            max-width: 90%
            margin: 0 auto
    .header-grid
        grid-template-columns: 1fr 
    .slider-arrows
        position: relative
        top: -5vh
        grid-column-gap: 200px
        max-width: 300px
        min-width: 300px
        padding-bottom: 0
    header
        .slider-h2
            padding: 0
            margin-top: 0
        .header-grid-circle
            position: relative
            top: 5vh
        .slider-p
            max-width: 90%
            margin: 0 auto
        .header-bag
            padding-left: 30px
        object
            padding-left: 30px
    .video
        .video-p
            max-width: 90%
            margin: 0 auto
    .ideas
        .yourideas-h2
            max-width: 90%
            margin: 0 auto
        .ideas-p
            max-width: 90%
            margin: 0 auto

            